html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    color: #333333;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Libre Franklin', sans-serif;
}

form {
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    border-radius: 30px;
}

form:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

label {
    display: none;
}

input {
    padding: 10px 78px 10px 15px;
    width: 420px;
    border-radius: 30px;
    border: 1px solid lightgray;
    color: #333333;
}

input:focus {
    outline: none;
}

.buttons {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    /*border: 1px orange solid;*/
}

button {
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 6px;
    margin-right: 6px;
    /*border: 1px purple solid;*/
    height: inherit;
}

button:focus {
    outline: none;
}

.clear {
    position: relative;
    padding: 6px;
    cursor: pointer;
    /*border: 1px solid lightseagreen;*/
}

.clear:focus {
    outline: none;
}

.clear::after {
    content: "";
    width: 1px;
    height: 30px;
    color: #666666;
    background: lightgray;
    position: absolute;
    top: 4px;
    right: 0;
}

svg {
    display: block;
    width: 24px;
    height: 24px;
    color: #666666;
}

.shadow {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

.hidden {
    display: none;
}

.tooltip {
    height: 25px;
    background-color: #333333;
    color: white;
    font-weight: bold;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0 10px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -32px;
    font-size: 12px;
    font-family: 'Libre Franklin', sans-serif;
}

.tooltip::before {
    content: "";
    position: absolute;
    top: -5px;
    width: 10px;
    height: 5px;
    border-bottom: solid 5px #333333;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
}
