html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: #333333;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: 0.875rem;
}

main {
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    main {
        padding: 0 40px;
    }
}

form {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 420px;
    border-radius: 30px;
}

form:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

input {
    width: 100%;
    padding: 10px 78px 10px 15px;
    border-radius: 30px;
    border: 1px solid lightgray;
    color: #333333;
}

input:focus {
    outline: none;
}

.buttons {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

button {
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 6px;
    margin-right: 6px;
    height: inherit;
}

button:focus {
    outline: none;
}

.clear {
    position: relative;
    padding: 6px;
    cursor: pointer;
}

.clear:focus {
    outline: none;
}

.clear::after {
    content: "";
    width: 1px;
    height: 30px;
    color: #666666;
    background: lightgray;
    position: absolute;
    top: 4px;
    right: 0;
}

svg {
    display: block;
    width: 24px;
    height: 24px;
    color: #666666;
}

.shadow {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

.tooltip {
    height: 25px;
    background-color: #333333;
    color: white;
    font-weight: bold;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0 10px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -32px;
    font-size: 12px;
    font-family: 'Libre Franklin', sans-serif;
}

.tooltip::before {
    content: "";
    position: absolute;
    top: -5px;
    width: 10px;
    height: 5px;
    border-bottom: solid 5px #333333;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
}

.search-results {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 24px 0;
}

@media screen and (min-width: 1024px) {
    .search-results {
        grid-template-columns: repeat(2, 1fr);
        padding: 40px 0;
    }
}

.film-wrapper {
    display: flex;
    align-items: center;
    height: 138px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

.film-poster {
    box-shadow: inset 0 0 1px #333333;
    min-width: 92px;
    min-height: 138px;
    width: 92px;
    height: 138px;
    position: relative;
    z-index: 1;
}

.film-text {
    padding: 10px 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 1.125rem;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 8px 0 0;
}

@media screen and (min-width: 768px) {
    .film-wrapper {
        height: 231px;
    }

    .film-poster {
        min-width: 154px;
        min-height: 231px;
        width: 154px;
        height: 231px;
    }

    .film-text {
        padding: 15px 20px;
    }

    p {
        -webkit-line-clamp: 6;
        margin-top: 28px;
    }
}

.offscreen {
    position: absolute;
    left: -10000px;
}

.hidden {
    display: none;
}
